@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whiteBoard {
  width: 60%;
  z-index: 1;
  /* background-color: #212529; */
}
.tlui-debug-panel {
  display: none;
}
.codePad {
  width: 40%;
  position: fixed;
  top: 0;
  left: 60%;
  height: 100%;
  background-color: #212529;
}
